---
import MainLayout from "../layouts/MainLayout.astro";
import CvListElement from "../components/CvListElement.astro";
import { Sprite } from 'astro-icon'

const cvElements = [
 {
        title: "BSZ ET Dresden",
        subTitle: "Abitur, Training as IT specialist",
        startDate: new Date("August 1, 2019"),
        endDate: new Date("July 1, 2023")
    },
    {
        title: "Robotron Datenbank-Software GmbH",
        subTitle: "Training as IT specialist",
        startDate: new Date("August 1, 2020"),
        endDate: new Date("July 1, 2023")
    },
    {
        title: "TU Dresden",
        subTitle: "Bachelor, IT specialist",
        startDate: new Date("Sep 1, 2023"),
        endDate: new Date("Oct 1, 2023")
    },
    {
        title: "Nuerk-Solutions",
        subTitle: "Founding",
        startDate: new Date("Sep 1, 2023"),
        endDate: new Date("Oct 1, 2023")
    }
]

---

<MainLayout className="w-full">
    <h1 class="text-4xl dark:text-white text-center font-bold mb-16">curriculum vitae</h1>
    <Sprite.Provider>
        <a href="/" class="flex items-end justify-end mr-16"><Sprite class="w-12 h-12 absolute dark:hover:bg-neutral-700 hover:bg-neutral-300 dark:hover:border-neutral-400 hover:border-neutral-700" name={"uiw:close-square-o"} /></a>
    </Sprite.Provider>

    <div class="flex flex-row justify-center items-center">
        <ul class="basis-3/5">
            {cvElements.map(item => {
                return <CvListElement title={item.title} subTitle={item.subTitle} startDate={item.startDate} endDate={item.endDate}/>
            })}
        </ul>
        <div class="basis-1/5"/>
    </div>
</MainLayout>

<style>
    p {
        @apply text-xl;
    }
</style>