---
import MainLayout from "../layouts/MainLayout.astro";
import CvListElement from "../components/CvListElement.astro";

const cvElements = [
 {
        title: "BSZ für Elektrotechnik Dresden",
        subTitle: "Abitur, Training as IT specialist",
        startDate: new Date("August 1, 2019"),
        endDate: new Date("July 1, 2023")
    },
    {
        title: "Robotron Datenbank-Software GmbH · Azubi",
        subTitle: "Training as IT specialist",
        startDate: new Date("August 1, 2020"),
        endDate: new Date("July 1, 2023")
    },
    {
        title: "TU Dresden",
        subTitle: "Bachelor, IT specialist",
        startDate: new Date("Sep 1, 2023"),
        endDate: new Date("Oct 1, 2023")
    },
    {
        title: "Nuerk-Solutions",
        subTitle: "Founding",
        startDate: new Date("Sep 1, 2023"),
        endDate: new Date("Oct 1, 2023")
    }
]

---

<MainLayout className="space-y-14 flex-col flex h-full">
    <h1 class="text-4xl dark:text-white text-center font-bold">curriculum vitae</h1>
    <div class="flex flex-row justify-center items-center">
        <ul class="basis-3/5">
            {cvElements.map(item => {
                return <CvListElement title={item.title} subTitle={item.subTitle} startDate={item.startDate} endDate={item.endDate}/>
            })}
        </ul>
        <div class="basis-1/5"/>
    </div>
</MainLayout>

<style>
    p {
        @apply text-xl;
    }
</style>