---
const year = new Date().getFullYear();
---

<div class="text-center m-4 text-neutral-400">
    <ul class="list-none pl-0">
        <li><a href="/imprint">Imprint</a></li>
        <li>&copy; 2022-{year} Nuerk-Solutions</li>
        <li>All rights reserved.</li>
    </ul>
</div>

<style>
    li {
        @apply inline-block pl-4 ml-4 border-l border-gray-600 leading-none;
    }
    li:first-child {
        @apply pl-0 ml-0 border-l-0;
    }
</style>