---
interface Props {
    language: {
        borderColor: string;
        name: string;
    }
    title: string;
    subTitle: string;
    stars: number;

}

const {
    title = `derech1e/<wbr />SonarSocket`,
    subTitle = "Measure distance with HC-SR04 Ultrasonic Sensor and a pi in NestJS",
    stars = 150,
    language = {borderColor: 'border-yellow-500', name: "JavaScript"}
} = Astro.props;
---

<a href={`http://github.com/${title.replace("<wbr />", "")}`} target="_blank" class="dark:bg-neutral-800 bg-gray-200 rounded p-5 dark:hover:bg-neutral-700 hover:bg-neutral-300 dark:hover:border-neutral-400 hover:border-neutral-700 border-0.5 border-neutral-600 ease-in-out transition-all">
    <h3 class="font-bold text-2xl dark:text-gray-300 text-gray-700"><Fragment set:html={title} /></h3>
    <h3>{subTitle}</h3>
    <div class="flex items-center mt-3 space-x-10">
        <div class="flex items-center space-x-2">
            <div class:list={['inline-block w-1 h-1 rounded-full border-6', language.borderColor]}/>
            <p>{language.name}</p>
        </div>
        <div class="flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-5 h-5 text-yellow-400">
                <path d="M21.924 8.617A1 1 0 0 0 21 8h-5.382L12.9 2.552a1.043 1.043 0 0 0-1.789 0L8.382 8H3a1 1 0 0 0-.707 1.707l4.584 4.584-1.838 6.434a1 1 0 0 0 1.516 1.107L12 18.2l5.446 3.63a1 1 0 0 0 1.515-1.107l-1.838-6.434 4.584-4.584a1 1 0 0 0 .217-1.088z" fill="currentColor"></path>
            </svg>
            <label>{stars}</label>
        </div>
    </div>
</a>