---
import { Sprite } from 'astro-icon'
interface Props {
    icon: string;
    link: string;
    label: string;
    details: string;
}

const {icon = "github-icon", link = "https://github.com/derech1e", label = "GitHub", details = "derech1e"} = Astro.props;
---

<a href={link}
   class="flex justify-between items-center p-2 group cursor-pointer hover:bg-neutral-200 hover:dark:bg-neutral-700 transition-colors duration-200 rounded"
   target="_blank">
    <div class="flex items-center">
        <div class="mr-2 p-2 rounded-full bg-neutral-200 dark:bg-neutral-700 text-neutral-700 dark:text-neutral-200 group-hover:bg-neutral-300 dark:group-hover:bg-neutral-600 transition-colors duration-200 ease-in-out">
            <Sprite.Provider>
                <Sprite class="w-6 h-6" name={icon} />
            </Sprite.Provider>
        </div>
        <span class="text-sm font-medium text-neutral-700 dark:text-neutral-200 mr-5">{label}</span>
    </div>
    <span class="text-sm text-neutral-500 dark:text-neutral-400 text-end">{details}</span>
</a>