---
import type {CollectionEntry} from "astro:content";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<'blog'>['data'];

const {title, tags, publishDate} = Astro.props;
---

<MainLayout>
    <header>
        <p>{title}</p>
    </header>
    <main>
        <slot />
    </main>
    <footer>
        <p>Published on {publishDate}</p>
        <p class="mb-5">Tags: {tags.join(', ')}</p>
        <a href="/blog/" class="px-3 py-2 border-0.5 mt-5">Back</a>
    </footer>
</MainLayout>