---

---

<section class="max-w-4xl">
    <div class="flex md:py-24 py-8 md:flex-row flex-col items-center">
        <div class="flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <slot/>
        </div>
    </div>
</section>