---
import CopyrightFooter from "../components/CopyrightFooter.astro";
// noinspection TypeScriptCheckImport
import {ViewTransitions} from "astro:transitions";
interface Props {
	title: string;
	className: string;
}

const { title, className } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="dark:bg-neutral-900 bg-zinc-50 dark:text-neutral-400 w-full">
	<div class="space-y-8 container mx-auto px-4 py-8 bg-white dark:bg-neutral-800 min-h-screen w-full">
		<main class:list={["flex-grow w-full", className]}>
		<slot />
		</main>
		<footer class="flex-col justify-center items-center space-x-4">
			<p class="text-center text-neutral-900 dark:text-white">Build with ❤️ using Astro 3.0.9 by Thomas Nürk</p>
			<CopyrightFooter />
		</footer>
	</div>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,300italic,400italic');
</style>
